FORMAT: 1A
HOST: https://bluebottle.onepercentclub.com

# Bluebottle
Bluebottle API is a the crowdsourcing API framework initiated by the 1%CLUB.

# Group Tasks

## Tasks Collection [/api/bb_tasks]
### List all Tasks [GET]
+ Response 200 (application/json)

        {
          count: 2
          next: null
          previous: null
          results: 
            [{
              "id": 1, 
              "title": "Buy a minivan",
            }, {
              "id": 2,
              "title": "Paint the minivan"
            }]
        }

## Task [/api/bb_tasks/{id}]
A single Task object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Task to perform action with. Has example value.

### Retrieve a Task [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Paint the minivan" }

### Remove a Note [DELETE]
+ Response 204


# Group Projects
Projects related resources of the **BlueBottle API**

## Projects Collection [/api/bb_projects]
### List all Projects [GET]
+ Response 200 (application/json)

        {
          count: 1
          next: null
          previous: null
          results: 
            [{
              "id": 1,
              "title": "Minivan For Peace"
            }]
        }

### Create a Project [POST]
+ Request (application/json)

        { "title": "Minivan For Equality" }

+ Response 201 (application/json)

        { "id": 2, "title": "Minivan For Equality" }

## Project [/api/bb_projects/{id}]
A single Project object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Minivan For Equality" }

### Remove a Note [DELETE]
+ Response 204
