FORMAT: 1A
HOST: https://onepercentclub.com

# Bluebottle
Bluebottle API is a the crowdsourcing API framework initiated by the 1%CLUB.

# Group Tasks
Tasks related resources of the **Bluebottle API**

## Tasks Collection [/api/bb_tasks]

### List all Tasks [GET]
+ Response 200 (application/json)

        {
          count: 2,
          next: null,
          previous: null,
          results: 
            [{
              "id": 1, 
              "title": "Buy a minivan",
            }, {
              "id": 2,
              "title": "Paint the minivan"
            }]
        }

## Task [/api/bb_tasks/{id}]
A single Task object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Task to perform action with. Has example value.

### Retrieve a Task [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            {
                members: [ ],
                files: [ ],
                project: "minivan-for-peace",
                skill: 6,
                author: {
                    id: 2616,
                    first_name: "",
                    last_name: "",
                    username: "brian",
                    avatar: "",
                    full_name: "Brian Gooddeeds",
                    short_name: "Brian",
                },
                status: "open",
                tags: [ ],
                meta_data: {
                    title: "Paint a Minivan",
                    description: "Paint a minivan some crazy colours",
                    fb_title: null,
                    url: null,
                    tweet: null,
                    image: null,
                    keywords: "",
                },
                id: 53,
                title: "Paint a Minivan",
                description: "Paint a minivan some crazy colours",
                end_goal: "",
                location: "",
                time_needed: "1",
                people_needed: 1,
                date_status_change: null,
                deadline: "2014-03-04T11:55:12Z",
                created: "2014-03-04T10:55:13.548Z",
                updated: "2014-03-04T10:55:13.571Z",
            }

### Remove a Task [DELETE]
+ Response 204

## Task Files Collection [/api/bb_tasks/files/{?task}]
+ Parameters
    + task (required, number, `1`) ... Numeric `task` id of the Task to perform action with. Has example value.

### List all Task Files [GET]
+ Response 200 (application/json)

        {
          count: 1,
          next: null,
          previous: null,
          results: 
            [{
              author: {
                id: 429,
                first_name: "",
                last_name: "",
                username: "brian",
                avatar: http://bluebottle.apiary.io/static/media/cache/75/4b/754b98c2a8171717c6428912ec6293d2.jpg,
                full_name: "Brian Gooddeeds",
                short_name: "Brian",
              },
              file: {
                url: "/static/media/task_files/frog.jpg",
                name: "frog.jpg",
                size: "70.1 KB",
              },
              id: 1,
              title: "Let's plant trees",
              created: "2014-02-03T15:45:57.981Z",
              updated: "2014-02-03T15:45:57.983Z",
              task: 46,
            }]
        }

## Task File [/api/bb_tasks/files/{id}]
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Task to perform action with. Has example value.

### Retrieve a Task File [GET]
+ Response 200 (application/json)

        {
          author: {
            id: 429,
            first_name: "",
            last_name: "",
            username: "brian",
            avatar: http://bluebottle.apiary.io/static/media/cache/75/4b/754b98c2a8171717c6428912ec6293d2.jpg,
            full_name: "Brian Gooddeeds",
            short_name: "Brian",
          },
          file: {
            url: "/static/media/task_files/frog.jpg",
            name: "frog.jpg",
            size: "70.1 KB",
          },
          id: 1,
          title: "Let's plant trees",
          created: "2014-02-03T15:45:57.981Z",
          updated: "2014-02-03T15:45:57.983Z",
          task: 46,
        }

# Group Projects
Projects related resources of the **Bluebottle API**

## Projects Collection [/api/bb_projects]

### List all Projects [GET]
+ Response 200 (application/json)

        {
          count: 1,
          next: null,
          previous: null,
          results: 
            [{
              "id": 1,
              "title": "Minivan For Peace"
            }]
        }

### Create a Project [POST]
+ Request (application/json)

        { "title": "Minivan For Equality" }

+ Response 201 (application/json)

        { "id": 2, "title": "Minivan For Equality" }

## Project [/api/bb_projects/{id}]
A single Project object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Body

            { "id": 2, "title": "Minivan For Equality" }

### Remove a Note [DELETE]
+ Response 204

# Group Organizations
Organizations related resources of the **Bluebottle API**

## Organizations Collection [/api/bb_organizations]

### List all Organizations [GET]
+ Response 200 (application/json)

        {
          count: 1,
          next: null,
          previous: null,
          results: 
            [{
              "id": 1,
              "name": "Minivans-R-Us",
            }]
        }

### Create an Organization [POST]
+ Request (application/json)

        { "name": "Tricycles Inc" }

+ Response 201 (application/json)

        { "id": 2, "name": "Tricycles Inc" }

## Project [/api/bb_organizations/{id}]
A single Organization object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Organization to perform action with. Has example value.

### Retrieve a Organization [GET]
+ Response 200 (application/json)

    + Body

            { "id": 2, "name": "Tricycles Inc" }

### Remove a Organization [DELETE]
+ Response 204

## Organization Documents Collection [/api/bb_organizations/documents/manage/{?organization}]

+ Parameters
    + organization (required, number, `1`) ... Numeric `organization` id of the Organization to perform action with. Has example value.

### List all Organization Documents [GET]
+ Response 200 (application/json)

        {
          count: 1,
          next: null,
          previous: null,
          results: 
            [{
              author: {
                id: 429,
                first_name: "",
                last_name: "",
                username: "brian",
                avatar: http://bluebottle.apiary.io/static/media/cache/75/4b/754b98c2a8171717c6428912ec6293d2.jpg,
                full_name: "Brian Gooddeeds",
                short_name: "Brian"
              },
              file: {
                url: "/static/media/task_files/frog.jpg",
                name: "frog.jpg",
                size: "70.1 KB"
              },
              id: 1,
              title: "Let's plant trees",
              created: "2014-02-03T15:45:57.981Z",
              updated: "2014-02-03T15:45:57.983Z",
              task: 46
            }]
        } -->

## Organization Document [/api/bb_organizations/documents/manage/{id}]
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Document to perform action with. Has example value.

### Retrieve a Organization Document [GET]
+ Response 200 (application/json)

        {
          author: {
            id: 429,
            first_name: "",
            last_name: "",
            username: "brian",
            avatar: http://bluebottle.apiary.io/static/media/cache/75/4b/754b98c2a8171717c6428912ec6293d2.jpg,
            full_name: "Brian Gooddeeds",
            short_name: "Brian"
          },
          file: {
            url: "/static/media/task_files/frog.jpg",
            name: "frog.jpg",
            size: "70.1 KB"
          },
          id: 1,
          title: "Let's plant trees",
          created: "2014-02-03T15:45:57.981Z",
          updated: "2014-02-03T15:45:57.983Z",
          task: 46
        }

## Organizations Manage Collection [/api/bb_organizations/manage{?organization}]
+ Parameters
    + organization (required, number, `1`) ... Numeric `organization` of the Organization to perform action with. Has example value.

### List all Organizations [GET]
+ Response 200 (application/json)

        {
          count: 1,
          next: null,
          previous: null,
          results: 
            [{
              "id": 1,
              "name": "Minivans-R-Us"
            }]
        }

### Create an Organization [POST]
+ Request (application/json)

        { "name": "Tricycles Inc" }

+ Response 201 (application/json)

        { "id": 2, "name": "Tricycles Inc" }

## Organization [/api/bb_organizations/manage/{id}]
A single Organization (Manage) object with all its details
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Organization to perform action with. Has example value.

### Retrieve a Organization [GET]
+ Response 200 (application/json)

    + Body

            { "id": 2, "name": "Tricycles Inc" }

### Remove a Organization [DELETE]
+ Response 204

# Group Orders
Orders related resources of the **Donations API**

## Order Collection [/api/orders]
### List all Orders [GET]
+ Response 200 (application/json)

        [{
            "id": 1, "total_amount": 100, "user_id": 1, "status": "success"
        }, {
            "id": 2, "total_amount": 50, "user_id": 1, "status": "success"
        }]

# Group My Orders
Orders related resources of the **Donations API**

## My Order Collection [/api/orders/my/]
### List all My Orders [GET]
+ Response 200 (application/json)

        [{
            "id": 1, 
            "total_amount": 100, 
            "user_id": 1, 
            "status": "success"
        }, {
            "id": 2, 
            "total_amount": 50, 
            "user_id": 1, 
            "status": "success"
        }]


### Create an Order [POST]
+ Request (application/json)

        { "user_id": 1 }

+ Response 201 (application/json)

        { 
            "id": 3, 
            "total_amount": 0, 
            "user_id": 1, 
            "status": "in_progress" 
        }

## My Order [/api/orders/my/{id}/]
A single Order object with all its details
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Order to perform action with. Has example value.

### Retrieve an Order [GET]
+ Response 200 (application/json)

    + Body

            { 
                "id": 2, 
                "total_amount": 50, 
                "user_id": 1,
                "status": "success"
            }

### Remove an Order [DELETE]
+ Response 204


# Group Donations
Donation (public details) related resources of the **Donations API**

## Donations [/api/donations/{id}]
A single Donation object with public details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Donation to perform action with. Has example value.

### Retrieve a Donation [GET]
+ Response 200 (application/json)

    + Body

            { 
                "id": 2, 
                "amount": 30, 
                "project_id": 1, 
                "fundraiser_id": null, 
                "order_id": 1,
                "created": "2014-07-18T20:42:20.315Z"
            }

## Project Donations Collection [/api/donations/project/{project_id}]
### List all Donations by Project [GET]
+ Parameters
    + project_id (required, number, `1`) ... Numeric `project_id` of the Donation to perform action with. Has example value.

+ Response 200 (application/json)

        [{
            "id": 1, "amount": 20, "project_id": 1, "fundraiser_id": null, "order_id": 1
        }, {
            "id": 2, "amount": 30, "project_id": 1, "fundraiser_id": null, "order_id": 1
        }]

## User Donations Collection [/api/donations/user/{user_id}]
### List all Donations by User [GET]
+ Parameters
    + user_id (required, number, `1`) ... Numeric `user_id` of the Donation to perform action with. Has example value.

+ Response 200 (application/json)

        [{
            "id": 1, 
            "amount": 20, 
            "project_id": 1, 
            "fundraiser_id": null, 
            "order_id": 1,
            "created": "2014-07-18T20:42:20.315Z"
        }, {
            "id": 2, 
            "amount": 30, 
            "project_id": 1, 
            "fundraiser_id": null, 
            "order_id": 1,
            "created": "2014-07-20T20:42:20.315Z"
        }]

# Group My Donations
My Donation related resources of the **Donations API**

## My Donation Collection [/api/donations/my]
### List all My Donations [GET]
+ Response 200 (application/json)

        [{
            "id": 1, 
            "amount": 20, 
            "project_id": 1,
            "fundraiser_id": null, 
            "order_id": 1, 
            "status": "pending"
        }, {
            "id": 2, 
            "amount": 30, 
            "project_id": null, 
            "fundraiser_id": 1, 
            "order_id": 2, 
            "status": "closed"
        }]

### Create a Donation [POST]
+ Request (application/json)

        { 
            "amount": 30, 
            "project_id": 1, 
            "fundraiser_id": null, 
            "order_id": 1,
            "user_id": 1,
        }

+ Response 201 (application/json)

        { 
            "id": 3, 
            "amount": 30, 
            "project_id": 1, 
            "fundraiser_id": null, 
            "order_id": 1,
            "user_id": 1,
            "status": "open", 
            "created": "2014-07-18T20:42:20.315Z" 
        }
        
## My Donations [/api/donations/my/{id}]
A single My Donation object with all its details
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Donation to perform action with. Has example value.

### Retrieve a single My Donation [GET]
+ Response 200 (application/json)

    + Body

            { 
                "id": 2, 
                "amount": 30, 
                "project_id": null, 
                "fundraiser_id": 1, 
                "order_id": 2, 
                "status": "closed", 
                "created": "2014-07-18T20:42:20.315Z" 
            }

## My Project Donations Collection [/api/donations/my-projects]
### List all My Project Donations [GET]
+ Response 200 (application/json)

        [{
            "id": 1, "project_id": 1, "amount": 20, "user_id": 1, "order_id": 1, "status": "closed", "created": "2014-07-18T20:42:20.315Z"
        }, {
            "id": 2, "project_id": 1, "amount": 30, "user_id": 2, "order_id": 2, "status": "pending", "created": "2014-07-20T20:42:20.315Z"
        }, {
            "id": 2, "project_id": 2, "amount": 30, "user_id": 2, "order_id": 3, "status": "closed", "created": "2014-07-20T20:42:20.315Z"
        }]

## My Project Donations [/api/donations/my-projects/{project_id}]
+ Parameters
    + project_id (required, number, `1`) ... Numeric `project_id` of the My Donation to perform action with. Has example value.

### List all Donations for My Project [GET]
+ Response 200 (application/json)

    + Body

            [{
                "id": 1, "project_id": 1, "amount": 50, "user_id": 1, "order_id": 1, "status": "closed", "created": "2014-07-18T20:42:20.315Z"
            }, {
                "id": 2, "project_id": 1, "amount": 10, "user_id": 2, "order_id": 2, "status": "pending", "created": "2014-07-20T20:42:20.315Z"
            }]


## My Fundraiser Donations Collection [/api/donations/my-fundraisers]
### List all My Fundraiser Donations [GET]
+ Response 200 (application/json)

        [{
            "id": 1, "fundraiser_id": 1, "amount": 20, "user_id": 1, "order_id": 4, "status": "closed", "created": "2014-07-18T20:42:20.315Z"
        }, {
            "id": 2, "fundraiser_id": 1, "amount": 30, "user_id": 2, "order_id": 5, "status": "pending", "created": "2014-07-20T20:42:20.315Z"
        }, {
            "id": 2, "fundraiser_id": 2, "amount": 30, "user_id": 2, "order_id": 6, "status": "closed", "created": "2014-07-22T20:42:20.315Z"
        }]

## My Fundraiser Donations [/api/donations/my-fundraisers/{fundraiser_id}]
+ Parameters
    + fundraiser_id (required, number, `1`) ... Numeric `fundraiser_id` of the My Donation to perform action with. Has example value.

### List all Donations for one of My Fundraisers [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "fundraiser_id": 1, "amount": 50, "user_id": 1, "order_id": 4, "status": "closed", "created": "2014-07-20T20:42:20.315Z"
        }, {
          "id": 2, "fundraiser_id": 1, "amount": 10, "user_id": 2, "order_id": 5, "status": "pending", "created": "2014-07-20T20:42:20.315Z"
        }]

# Group Payments
Payment related resources of the **Donations API**

## Payments Collection [/api/payments]
### List all Payments [GET]
+ Response 200 (application/json)

        [{
            "id": 1, 
            "payment_method_id": 1, 
            "order_id": 1, 
            "status": "closed",
            "created": "2014-07-17T20:42:20.315Z",
            "updated": "2014-07-17T20:42:20.315Z"
        }, {
            "id": 2, 
            "payment_method_id": 1, 
            "order_id": 2, 
            "status": "pending",
            "created": "2014-07-18T20:42:20.315Z",
            "updated": "2014-07-18T22:42:20.315Z"
        }]

### Create a Payment [POST]
+ Request (application/json)

        { "payment_method_id": 1, "order_id": 1 }

+ Response 201 (application/json)

        { 
            "id": 3, 
            "payment_method_id": 1, 
            "order_id": 1, 
            "status": "open",
            "created": "2014-07-18T20:42:20.315Z",
            "updated": "2014-07-18T22:42:20.315Z"
        }
        
## Payments [/api/payments/{id}]
A single Payment object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Order to perform action with. Has example value.

### Retrieve a Payment [GET]
+ Response 200 (application/json)

    + Body

            { 
                "id": 2, 
                "payment_method_id": 1, 
                "order_id": 2, 
                "status": "pending",
                "created": "2014-07-18T20:42:20.315Z",
                "updated": "2014-07-18T22:42:20.315Z"
            }

### Remove a Payment [DELETE]
+ Response 204

## Payment CC-Type [/api/payments/cc-type/{cc_number}]
A single Payment object with all its details

+ Parameters
    + cc_number (required, number, ``) ... Numeric `cc_number` of the Credit Card number to check. Has example value.
    
### Check Payment Method Type [GET]
+ Response 200 (application/json)

    + Body

            { 
                "id": 2, 
                "payment_method_id": 1, 
                "order_id": 2, 
                "status": "pending",
                "created": "2014-07-18T20:42:20.315Z",
                "updated": "2014-07-18T22:42:20.315Z"
            }

# Group My Payments
Payment related resources of the **Donations API**

## My Payments Collection [/api/payments/my]
### List all My Payments [GET]
+ Response 200 (application/json)

        [{
            "id": 1, 
            "payment_method_id": 1, 
            "order_id": 1, 
            "status": "closed",
            "created": "2014-07-17T20:42:20.315Z",
            "updated": "2014-07-17T20:42:20.315Z"
        }, {
            "id": 2, 
            "payment_method_id": 1, 
            "order_id": 2, 
            "status": "pending",
            "created": "2014-07-18T20:42:20.315Z",
            "updated": "2014-07-18T22:42:20.315Z"
        }]

### Create a Payment [POST]
+ Request (application/json)

        { "payment_method_id": 1, "order_id": 1 }

+ Response 201 (application/json)

        { 
            "id": 3, 
            "payment_method_id": 1, 
            "order_id": 1, 
            "status": "open",
            "created": "2014-07-18T20:42:20.315Z",
            "updated": "2014-07-18T22:42:20.315Z"
        }

## Close a Payment [/api/payments/my/{payment_id}]
### Set a Payement to Closed [PUT]
+ Parameters
    + payment_id (required, number, `1`) ... Numeric `payment_id` of the Payement to perform action with. Has example value.

+ Response 201 (application/json)

        { 
            "id": 3, 
            "payment_method_id": 1, 
            "order_id": 1, 
            "status": "closed",
            "created": "2014-07-18T20:42:20.315Z",
            "updated": "2014-07-18T22:42:20.315Z"
        }
        
# Group Payment Methods
Payment Method related resources of the **Donations API**

## Payment Methods Collection [/api/payment-methods?amount={amount}&country={country_code}]
+ Parameters
    + amount (required, number, `50`) ... Numeric `amount` of the payment total amount.
    + country (required, string, `nl`) ... String `country_code` of two character country code for the current user.

### List all PaymentMethods [GET]
+ Response 200 (application/json)

        [{
            "id": 1, 
            "provider_id": 1, 
            "payment_type": "credit_card", 
            "payment_process": "popup"
        }, {
            "id": 2, 
            "provider_id": 2, 
            "payment_type": "paypal", 
            "payment_process": "redirect"
        }]
